In [4]:
import pandas as pd

df = pd.read_csv("D:\Python Course\Dealing With Pandas\csv\CalBurn.csv", encoding="utf-8")

# Print Dataframe
# df[:]
df

# Show rows and columns of data
# rows, cols = df.shape
# rows

<>:3: SyntaxWarning: invalid escape sequence '\P'
<>:3: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Diandra\AppData\Local\Temp\ipykernel_7872\340869793.py:3: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv("D:\Python Course\Dealing With Pandas\csv\CalBurn.csv", encoding="utf-8")

        Date  Time(minute)  Distance(Km)  Cals
0  5/17/2025            25           4.5   210
1  5/16/2025            30           6.0   465
2  5/15/2025            33           6.8   576
3  5/14/2025            19           3.5   187
4  5/13/2025            20           3.0   156
5  5/12/2025            30           5.5   354

In [19]:
# Show Top of Data
df.head(3)

        Date  Time(minute)  Distance(Km)  Cals
0  5/17/2025            25           4.5   210
1  5/16/2025            30           6.0   465
2  5/15/2025            33           6.8   576

In [14]:
# Show Bottom of Data
df.tail(2)

        Date  Time(minute)  Distance(Km)  Cals
4  5/13/2025            20           3.0   156
5  5/12/2025            30           5.5   354

In [16]:
# Slicing Data
df[1:4]

        Date  Time(minute)  Distance(Km)  Cals
1  5/16/2025            30           6.0   465
2  5/15/2025            33           6.8   576
3  5/14/2025            19           3.5   187

In [38]:
# Print Specific Data
df["Distance(Km)"]

0    4.5
1    6.0
2    6.8
3    3.5
4    3.0
5    5.5
Name: Distance(Km), dtype: float64

In [43]:
# Show Coulumns Title
df.columns

Index(['Date', 'Time(minute)', 'Distance(Km)', 'Cals'], dtype='object')

In [45]:
# Customize Print Data
df[["Date", "Distance(Km)", "Time(minute)"]]

        Date  Distance(Km)  Time(minute)
0  5/17/2025           4.5            25
1  5/16/2025           6.0            30
2  5/15/2025           6.8            33
3  5/14/2025           3.5            19
4  5/13/2025           3.0            20
5  5/12/2025           5.5            30

In [53]:
# Statistic Pands

# Find Max Value
df["Time(minute)"].max()

# Or Show All Statistic
df.describe()

       Time(minute)  Distance(Km)        Cals
count      6.000000      6.000000    6.000000
mean      26.166667      4.883333  324.666667
std        5.776389      1.477047  169.865437
min       19.000000      3.000000  156.000000
25%       21.250000      3.750000  192.750000
50%       27.500000      5.000000  282.000000
75%       30.000000      5.875000  437.250000
max       33.000000      6.800000  576.000000

In [63]:
# Conditional Print Data
df[["Date", "Cals"]][df["Distance(Km)"] >= 3.5]

        Date  Cals
0  5/17/2025   210
1  5/16/2025   465
2  5/15/2025   576
3  5/14/2025   187
5  5/12/2025   354

In [ ]:
# Set Index
df.set_index("Date", inplace=True)

In [83]:
df

           Time(minute)  Distance(Km)  Cals
Date
5/17/2025            25           4.5   210
5/16/2025            30           6.0   465
5/15/2025            33           6.8   576
5/14/2025            19           3.5   187
5/13/2025            20           3.0   156
5/12/2025            30           5.5   354

In [85]:
# Print All Data by Date
df.loc["5/13/2025"]

Time(minute)     20.0
Distance(Km)      3.0
Cals            156.0
Name: 5/13/2025, dtype: float64

In [86]:
# Reset Index
df.reset_index(inplace=True)

In [5]:
df

        Date  Time(minute)  Distance(Km)  Cals
0  5/17/2025            25           4.5   210
1  5/16/2025            30           6.0   465
2  5/15/2025            33           6.8   576
3  5/14/2025            19           3.5   187
4  5/13/2025            20           3.0   156
5  5/12/2025            30           5.5   354