In [28]:
import pandas as pd

df = pd.read_csv(r"D:\Python Course\Dealing With Pandas\csv\Day12 - Sheet2.csv")

df["Open"] = (df["Open"].astype(str).str.replace(",",".").str.strip())
# df["Date"] = (df["Date"].astype(str).str.replace("/","-").str.strip())
df["Open"] = pd.to_numeric(df["Open"])
df["Date"] = pd.to_datetime(df["Date"], dayfirst= True)
df.set_index("Date", inplace=True)
df[:5]

                       Open
Date
2025-06-02 16:00:00  457.14
2025-06-03 16:00:00  461.47
2025-06-04 16:00:00  464.00
2025-06-05 16:00:00  464.96
2025-06-06 16:00:00  470.09

In [29]:
#Change the time to use localize timezone
df = df.tz_localize(tz="Europe/London")
df.index

DatetimeIndex(['2025-06-02 16:00:00+01:00', '2025-06-03 16:00:00+01:00',
               '2025-06-04 16:00:00+01:00', '2025-06-05 16:00:00+01:00',
               '2025-06-06 16:00:00+01:00', '2025-06-09 16:00:00+01:00',
               '2025-06-10 16:00:00+01:00', '2025-06-11 16:00:00+01:00',
               '2025-06-12 16:00:00+01:00', '2025-06-13 16:00:00+01:00',
               '2025-06-16 16:00:00+01:00', '2025-06-17 16:00:00+01:00',
               '2025-06-18 16:00:00+01:00', '2025-06-20 16:00:00+01:00',
               '2025-06-23 16:00:00+01:00', '2025-06-24 16:00:00+01:00',
               '2025-06-25 16:00:00+01:00'],
              dtype='datetime64[ns, Europe/London]', name='Date', freq=None)

In [30]:
# London Time
df.head(10)

                             Open
Date
2025-06-02 16:00:00+01:00  457.14
2025-06-03 16:00:00+01:00  461.47
2025-06-04 16:00:00+01:00  464.00
2025-06-05 16:00:00+01:00  464.96
2025-06-06 16:00:00+01:00  470.09
2025-06-09 16:00:00+01:00  469.70
2025-06-10 16:00:00+01:00  471.19
2025-06-11 16:00:00+01:00  470.02
2025-06-12 16:00:00+01:00  475.02
2025-06-13 16:00:00+01:00  476.41

In [32]:
# Convert to Jakarta Time
df = df.tz_convert(tz="Asia/Jakarta")
df[:10]

                             Open
Date
2025-06-02 22:00:00+07:00  457.14
2025-06-03 22:00:00+07:00  461.47
2025-06-04 22:00:00+07:00  464.00
2025-06-05 22:00:00+07:00  464.96
2025-06-06 22:00:00+07:00  470.09
2025-06-09 22:00:00+07:00  469.70
2025-06-10 22:00:00+07:00  471.19
2025-06-11 22:00:00+07:00  470.02
2025-06-12 22:00:00+07:00  475.02
2025-06-13 22:00:00+07:00  476.41

In [40]:
rng = pd.date_range(start="2025-6-7 08:00:00", periods=12, freq='h')
s = pd.Series(range(12), index= rng)
s

2025-06-07 08:00:00     0
2025-06-07 09:00:00     1
2025-06-07 10:00:00     2
2025-06-07 11:00:00     3
2025-06-07 12:00:00     4
2025-06-07 13:00:00     5
2025-06-07 14:00:00     6
2025-06-07 15:00:00     7
2025-06-07 16:00:00     8
2025-06-07 17:00:00     9
2025-06-07 18:00:00    10
2025-06-07 19:00:00    11
Freq: h, dtype: int64

In [43]:
b = s.tz_localize(tz="Europe/Paris")
b

2025-06-07 08:00:00+02:00     0
2025-06-07 09:00:00+02:00     1
2025-06-07 10:00:00+02:00     2
2025-06-07 11:00:00+02:00     3
2025-06-07 12:00:00+02:00     4
2025-06-07 13:00:00+02:00     5
2025-06-07 14:00:00+02:00     6
2025-06-07 15:00:00+02:00     7
2025-06-07 16:00:00+02:00     8
2025-06-07 17:00:00+02:00     9
2025-06-07 18:00:00+02:00    10
2025-06-07 19:00:00+02:00    11
dtype: int64

In [46]:
m = b.tz_convert(tz="Asia/Jakarta")
m

2025-06-07 13:00:00+07:00     0
2025-06-07 14:00:00+07:00     1
2025-06-07 15:00:00+07:00     2
2025-06-07 16:00:00+07:00     3
2025-06-07 17:00:00+07:00     4
2025-06-07 18:00:00+07:00     5
2025-06-07 19:00:00+07:00     6
2025-06-07 20:00:00+07:00     7
2025-06-07 21:00:00+07:00     8
2025-06-07 22:00:00+07:00     9
2025-06-07 23:00:00+07:00    10
2025-06-08 00:00:00+07:00    11
dtype: int64