In [57]:
import pandas as pd

df = pd.read_csv(r"D:\Python Course\Dealing With Pandas\csv\messy2.csv", encoding="utf-8", parse_dates=["day"])
import numpy as np

df

         day  temprature  windspeed   event
0 2021-05-01          32          7  Autumn
1 2021-06-05      -99999     -99999  Autumn
2 2021-07-10          28          7       0
3 2021-08-14      -99999     -99999  Summer
4 2021-09-18          32         18       0
5 2021-10-23          31         11  Winter
6 2021-11-27          34         20       0
7 2022-01-01          33          2  Autumn
8 2022-02-05      -99999     -99999  Spring
9 2022-03-12      -94298     -94298  Spring

In [59]:
# Handling Missing Data with Replace Func
new_df = df.replace({
    'temprature':[-99999, -94298],
    'windspeed':[-99999, -94298],
    'event':'0'
}, np.nan)

In [74]:
new_df = new_df.interpolate()
new_df['event'] = new_df['event'].bfill()
new_df

C:\Users\Diandra\AppData\Local\Temp\ipykernel_10368\4008768708.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df = new_df.interpolate()

         day  temprature  windspeed   event
0 2021-05-01        32.0        7.0  Autumn
1 2021-06-05        30.0        7.0  Autumn
2 2021-07-10        28.0        7.0  Autumn
3 2021-08-14        30.0       12.5  Summer
4 2021-09-18        32.0       18.0  Summer
5 2021-10-23        31.0       11.0  Winter
6 2021-11-27        34.0       20.0  Winter
7 2022-01-01        33.0        2.0  Autumn
8 2022-02-05        33.0        2.0  Spring
9 2022-03-12        33.0        2.0  Spring