In [38]:
import pandas as pd
import numpy as np

# Full df replace
df = pd.read_csv(r"D:\Python Course\Dealing With Pandas\csv\messy2.csv", encoding="utf-8", parse_dates=["day"])
df["day"] = df["day"].dt.strftime(r"%d/%m/%Y")
df

          day  temprature  windspeed   event
0  01/05/2021          32          7  Autumn
1  05/06/2021      -99999     -99999  Autumn
2  10/07/2021          28          7       0
3  14/08/2021      -99999     -99999  Summer
4  18/09/2021          32         18       0
5  23/10/2021          31         11  Winter
6  27/11/2021          34         20       0
7  01/01/2022          33          2  Autumn
8  05/02/2022      -99999     -99999  Spring
9  12/03/2022      -94298     -94298  Spring

In [39]:
new_df = df.replace({
    'temprature': [-99999, -94298],
    'windspeed': [-99999, -94298],
    'event': "0"
    }, np.nan)
new_df

          day  temprature  windspeed   event
0  01/05/2021        32.0        7.0  Autumn
1  05/06/2021         NaN        NaN  Autumn
2  10/07/2021        28.0        7.0     NaN
3  14/08/2021         NaN        NaN  Summer
4  18/09/2021        32.0       18.0     NaN
5  23/10/2021        31.0       11.0  Winter
6  27/11/2021        34.0       20.0     NaN
7  01/01/2022        33.0        2.0  Autumn
8  05/02/2022         NaN        NaN  Spring
9  12/03/2022         NaN        NaN  Spring

In [40]:
# Replace with regex
new_df = df.replace({
    'day':"A-Za-z",
    'temprature':"A-Za-z",
    'windspeed':"A-Za-z"}, '', regex=True)

new_df

          day  temprature  windspeed   event
0  01/05/2021          32          7  Autumn
1  05/06/2021      -99999     -99999  Autumn
2  10/07/2021          28          7       0
3  14/08/2021      -99999     -99999  Summer
4  18/09/2021          32         18       0
5  23/10/2021          31         11  Winter
6  27/11/2021          34         20       0
7  01/01/2022          33          2  Autumn
8  05/02/2022      -99999     -99999  Spring
9  12/03/2022      -94298     -94298  Spring